@model ABC.Models.RID_TABLE

@{
    ViewBag.Title = "StudentReviews";
}

<h2>Student Review Page</h2>
<br/>

@Html.DisplayFor(m => m.RID)

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
